@page "{userId:int}"
@model JournalApp.Web.Pages.Journals.UserPageModel
@{
    ViewData["Title"] = "UserPage";
}
@*@section Scripts {
    <script type="text/javascript" scr="~/scripts/main.js">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
    }*@

<style>
    .crystal {
        font-family: 'Roboto', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        min-width: 230px;
        max-width: 415px;
        max-height: 900px;
        width: 100%;
        color: #ffffff;
        text-align: left;
        background-color: #141414;
        border-radius: .6em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    }

        .crystal * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
        }

        .crystal img {
            max-width: 100%;
            vertical-align: top;
            opacity: 0.85;
        }

        .crystal figcaption {
            width: 100%;
            background-color: #141414;
            padding: 25px;
            position: relative;
        }

            .crystal figcaption:before {
                position: absolute;
                content: '';
                bottom: 100%;
                left: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 55px 0 0 400px;
                border-color: transparent transparent transparent #141414;
            }

            .crystal figcaption a {
                padding: 5px;
                color: #ffffff;
                font-size: 0.7em;
                text-transform: uppercase;
                margin: 10px 0;
                display: inline-block;
                opacity: 0.65;
                width: 47%;
                text-align: center;
                text-decoration: none;
                font-weight: 600;
                letter-spacing: 1px;
                border-radius: .6em;
            }

                .crystal figcaption a:hover {
                    opacity: 1;
                }

        .crystal .profile {
            border-radius: 50%;
            position: absolute;
            bottom: 100%;
            left: 25px;
            z-index: 1;
            max-width: 90px;
            opacity: 1;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
        }

        .crystal .connections {
            margin-right: 4%;
            border-color: #2980b9;
            color: #2980b9;
        }

        .crystal h2 {
            margin: 0 0 5px;
            font-weight: 300;
        }

            .crystal h2 span {
                display: block;
                font-size: 0.5em;
                color: #2980b9;
            }

        .crystal p {
            margin: 0 0 10px;
            font-size: 0.8em;
            letter-spacing: 1px;
            opacity: 0.8;
        }

        .crystal .background {
            filter: blur(2px);
        }
        .crystal .card h5 {
            color: black;
            float: left;
        }

        .crystal .card-text {
            color: #000000;
            opacity: 1;
        }

        .crystal .card-text a {
            color: #2980b9;
            opacity: 1;
            width: auto;
        }

        .crystal .card .icon {
            width: 20%;
            float: right;
            margin: 0 0 10px;
        }

        .crystal .card i {
            color: #000000;
            vertical-align: auto;
            float: right;
        }
        .crystal .card-body {
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
        }

        .crystal .card-header h5 {
            max-width: 70%;
        }
</style>



<figure class="crystal">
    <img src="@Model.Journal.ProfileBackgroundImageUrl" class="background" alt="sample87" />
    <figcaption>
        <img src="@Model.Journal.ProfileImageUrl" alt="profile-sample4" class="profile" />
        <h2>@Model?.ThisUser?.Person?.FullName<span>Username: @Model?.ThisUser?.UserName</span></h2>
        <p>@Model?.ThisUser?.Profile</p>
        <a asp-page=".\Connections" asp-route-connectionId="@Model?.ThisUser?.Person?.Person_Id">Connections: <span class="badge badge-primary badge-pill shadow">@Model?.ThisUser?.Connections?.Count()</span></a>
        <a class="connections" asp-page=".\Edit">Create Journal</a>


        @foreach (var journal in Model.ThisUser.Posts)
        {
            <div id="myList" class="card" style="width: 22rem; margin: 3px; margin-bottom: 16px;">

                <div class="card-header">
                    <h5>@journal.Title</h5>
                    <a class="icon" asp-page="./Edit" asp-route-userId="@journal.Journal_Id"><i class="fa fa-edit fa-lg"></i></a>
                </div>
                <div class="card-body">
                    <p1 class="card-text">@Html.Raw(journal.Journey.ContentString) <a id="i" asp-page="">Test</a></p1>
                    <br />

                    @foreach (var tag in journal.Tagz)
                    {
                        @if (tag is JournalApp.Core.Person)
                        {
                            var person = (JournalApp.Core.Person)tag;
                            <a id="tag" asp-page="./UserPage" class="d-inline p-1 bg-primary rounded text-white" asp-route-userId="@person.Person_Id">@tag </a>

                        }
                        else
                        {
                            <a id="tag" href="../List?SearchTerm=@tag&catergory=2" class="d-inline p-1 bg-dark rounded text-white">@tag</a>
                        }
                    }

                </div>
                <div class="card-footer">
                    <small class="text-muted">Created on: @journal.Created.ToShortDateString()</small>


                </div>
            </div>

        }
    </figcaption>
</figure>



